torch==2.6.0+cu118
transformers==4.51.3
datasets==3.5.0
peft==0.15.1
accelerate==1.6.0
python-dotenv
huggingface_hub
pandas
openai
unsloth
rouge
bert-score
sentence_transformers

--extra-index-url https://download.pytorch.org/whl/cu118
